@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

body,
.btn,
input {
  font-family: "Baloo Bhai 2", cursive !important;
}

.btn-block {
  width: 100%;
}

input:focus {
  border-bottom-color: #3f51b5 !important;
}

.row {
  width: 100% !important;
}

@import "../node_modules/materialize-css/sass/materialize.scss";
